@import "mixins";
@import "global";
@import "flex";
@import "colors";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

:root {
  --color-white: #{$white};
  --color-white-hover: #{$white-hover};

  --color-black: #{$black};
  --color-black-hover: #{$black-hover};

  --color-gray: #{$gray};
  --color-gray-hover: #{$gray-hover};

  --color-gray-light: #{$gray-light};
  --color-gray-light-hover: #{$gray-light-hover};

  --color-gray-dark: #{$gray-dark};
  --color-gray-dark-hover: #{$gray-dark-hover};

  --color-primary: #{$primary};
  --color-primary-hover: #{$primary-hover};

  --color-accent: #{$accent};
  --color-accent-hover: #{$accent-hover};

  --color-warning: #{$warning};
  --color-warning-hover: #{$warning-hover};

  --border-color: #{$border-color};
}
