// Percentage for darken background (example: when hovered)
$darken-bg: 8%;

$white: #FFF;
$white-hover: darken($white, $darken-bg);

$black: #333;
$black-hover: darken($black, $darken-bg);

$gray: #828282;
$gray-hover: darken($gray, $darken-bg);

$gray-light: #BDBDBD;
$gray-light-hover: darken($gray-light, $darken-bg);

$gray-dark: #4f4f4f;
$gray-dark-hover: darken($gray-dark, $darken-bg);

// PRIMARY
$primary: #669EBD;
$primary-hover: darken($primary, $darken-bg);

// ACCENT
$accent: #efca30;
$accent-hover: darken($accent, $darken-bg);

// WARNING
$warning: #e04927;
$warning-hover: darken($warning, $darken-bg);

$border-color: #bdbdbd;
