.flex-box{
  @include flex-box;

  &.start{ justify-content: flex-start; }
  &.end{ justify-content: flex-end; }
  &.center{ justify-content: center; }
  &.between{ justify-content: space-between; }
  &.around{ justify-content: space-around; }
  &.evenly{ justify-content: space-evenly; }

  &.a-center{ align-items: center !important; }
  &.a-end{ align-items: flex-end !important; }
  &.a-start{ align-items: flex-start !important; }
  &.a-stretch{ align-items: stretch !important; }
  &.newline{ flex-flow: row wrap !important; }
}