// Empty div for horizontal, vertical and rect
@each $i in 1, 2, 3, 4, 5, 6, 8, 10, 12, 14, 16, 18, 20, 24, 28, 32, 36, 40, 48, 56, 64, 72, 80, 96 {
  .dv-#{$i} { height: #{$i}px; min-height: #{$i}px; max-height: #{$i}px; }
  .dh-#{$i} { width: #{$i}px; min-width: #{$i}px; max-width: #{$i}px; }
  .rect-#{$i} { width: #{$i}px; min-width: #{$i}px; height: #{$i}px; min-height: #{$i}px; }
}

// Margin and padding
@each $i in 0, 1, 2, 3, 4, 5, 6, 8, 10, 12, 13, 14, 15, 16, 18, 19, 20, 24, 28, 30, 32, 35, 36, 40, 45, 48, 50, 52, 56, 60, 64, 65, 72, 100 {
  // Positive margin
  .mar-#{$i} { margin: #{$i}px; }

  .mar-l-#{$i} { margin-left: #{$i}px !important; }
  .mar-r-#{$i} { margin-right: #{$i}px !important; }
  .mar-lr-#{$i} { @extend .mar-l-#{$i}; @extend .mar-r-#{$i}; }

  .mar-t-#{$i} { margin-top: #{$i}px !important; }
  .mar-b-#{$i} { margin-bottom: #{$i}px !important; }
  .mar-tb-#{$i} { @extend .mar-t-#{$i}; @extend .mar-b-#{$i}; }

  //Negative margin
  .mar-l--#{$i} { margin-left: -#{$i}px !important; }
  .mar-r--#{$i} { margin-right: -#{$i}px !important; }
  .mar-lr--#{$i} { @extend .mar-l--#{$i}; @extend .mar-r--#{$i}; }

  .mar-t--#{$i} { margin-top: -#{$i}px !important; }
  .mar-b--#{$i} { margin-bottom: -#{$i}px !important; }
  .mar-tb--#{$i} { @extend .mar-t--#{$i}; @extend .mar-b--#{$i}; }

  //Padding (only positive)
  .pad-#{$i} { padding: #{$i}px; }
  .pad-l-#{$i} { padding-left: #{$i}px !important; }
  .pad-r-#{$i} { padding-right: #{$i}px !important; }
  .pad-lr-#{$i} { @extend .pad-l-#{$i}; @extend .pad-r-#{$i}; }

  .pad-t-#{$i} { padding-top: #{$i}px !important; }
  .pad-b-#{$i} { padding-bottom: #{$i}px !important; }
  .pad-tb-#{$i} { @extend .pad-t-#{$i}; @extend .pad-b-#{$i}; }
}

// Positions variants
.pos {
  &-absolute { position: absolute; }
  &-relative { position: relative; }
  &-fixed { position: fixed; }
  &-sticky { position: sticky; }
}

// Positions coordinates
@each $i in 0, 6, 8, 12, 16, 24, 32 {
  .pos-t-#{$i} { top: #{$i}px; }
  .pos-r-#{$i} { right: #{$i}px; }
  .pos-b-#{$i} { bottom: #{$i}px; }
  .pos-l-#{$i} { left: #{$i}px; }

  .pos-lt-#{$i} { @extend .pos-l-#{$i}; @extend .pos-t-#{$i}; }
  .pos-all-#{$i} { @extend .pos-l-#{$i}; @extend .pos-t-#{$i}; @extend .pos-r-#{$i}; @extend .pos-b-#{$i}; }
}

// z-index
@for $i from 1 through 4 {
  .zi-#{$i} { @include z-index-m($i); }

  @for $j from 1 through 4 {
    .zi-#{$i}-#{$j} { @include z-index-m($i, $j); }
  }
}

// Borders radius
@each $i in 0, 2, 4, 8, 16, 24 {
  .brad-#{$i} { border-radius: #{$i}px; }
  .brad-lt-#{$i} { border-top-left-radius: #{$i}px; }
  .brad-rt-#{$i} { border-top-right-radius: #{$i}px; }
  .brad-lb-#{$i} { border-bottom-left-radius: #{$i}px; }
  .brad-rb-#{$i} { border-bottom-right-radius: #{$i}px; }
  .brad-r-#{$i} { @extend .brad-rt-#{$i}; @extend .brad-rb-#{$i}; }
  .brad-t-#{$i} { @extend .brad-rt-#{$i}; @extend .brad-lt-#{$i}; }
  .brad-l-#{$i} { @extend .brad-lt-#{$i}; @extend .brad-lb-#{$i}; }
  .brad-b-#{$i} { @extend .brad-rb-#{$i}; @extend .brad-lb-#{$i}; }
}
.circle { border-radius: 50%; }

// Border exist
@each $i in right, left, top, bottom {
  .border-none-#{$i} { border-#{$i}: none !important; }
  .border-#{$i} { border-#{$i}: 1px solid var(--border-color) !important; }
}
.border-none { border: none !important; }
.border-global { border: 1px solid var(--border-color) !important; }

// Border width
@each $i in 0, 1, 2, 3 {
  .border-w-#{$i} { border-width: #{$i}px !important; }
}

// Font size
@each $i in 10, 12, 14, 16, 18, 24, 28, 32, 36, 40, 48, 56, 64 {
  .fs-#{$i} { font-size: #{$i}px !important; }
}

// Font style
.text{
  // Weight
  &-normal { font-weight: normal !important; }
  &-bold { font-weight: 500 !important; }

  // Transform
  &-trans-none { text-transform: none !important; }
  &-trans-upper { text-transform: uppercase !important; }
  &-trans-first-upper::first-letter { text-transform: uppercase !important; }
  &-trans-lower { text-transform: lowercase !important; }

  // Align
  &-right { text-align: right !important; }
  &-left { text-align: left !important; }
  &-center { text-align: center !important; }

  // Decoration
  &-dec-none { text-decoration: none !important; }
  &-dec-line-through { text-decoration: line-through !important;}
  &-dec-ul { text-decoration: underline !important; }
}

// Text ellipsis by lines
@each $i in 1, 2, 3, 4 {
  .text-ellipsis-multi-#{$i} { -webkit-line-clamp: $i; }
}
[class^="text-ellipsis-multi-"], [class*=" text-ellipsis-multi-"] { display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden; }

// Box shadow
.z-depth{
  &-0 { box-shadow: none !important; }
  &-1 { box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); }
  &-2 { box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3); }
  &-3 { box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2); }
  &-4 { box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2); }
  &-5 { box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2); }

  &-light-1 { box-shadow: 0 1px 5px 0 rgba(132, 132, 132, 0.2); }
}

// Width and height in percentage
@each $i in 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 200 {
  .w#{$i} { width: calc(#{$i} / 100); }
  .h#{$i} { width: calc(#{$i} / 100); }
}

// Cursor
@each $i in default, auto, pointer, progress, wait, grab, not-allowed, help {
  .cursor-#{$i} { cursor: #{$i} !important; }
}

// Display
@each $i in block, inline-block, flex, none {
  .display-#{$i} { display: #{$i} !important; }
}

// Overflow
@each $i in hidden, auto, scroll {
  .overflow-#{$i} { overflow: #{$i} !important; }
  .overflow-y-#{$i} { overflow-y: #{$i} !important; }
}

// Line height in 'em'
@each $i in 0, 1, 2, 3, 4, 5 {
  .line-h-em-#{$i} { line-height: #{'1.' + $i}em !important; }
}

// Line height in 'px'
@each $i in 16, 20, 24, 28, 32, 36, 40, 44, 48 {
  .line-h-px-#{$i} { line-height: #{$i}px !important; }
}

.user-select-none { -webkit-touch-callout: none; -webkit-user-select: none; user-select: none; }
.pointer-none { pointer-events: none; }

@each $i in 10, 20, 30, 40, 50, 60, 70, 80, 90, 100 {
  .opacity-#{$i} { opacity: calc(#{$i} / 100); }
}

// White space
@each $i in nowrap, pre-wrap, break-spaces{
  .white-space-#{$i}{ white-space: #{$i}; }
}

.hidden{ visibility: hidden !important; }