@mixin z-index-m($p1: 1, $p2: 0) {
  $def-zi-m: 10;
  @for $i from 1 to $p1 {
    $def-zi-m: $def-zi-m * 10;
  }
  z-index: #{$def-zi-m + $p2} !important;
}

@mixin flex-box($dir: row, $ai: center) {
  position: relative;
  display: flex !important;
  flex-direction: $dir;
  align-items: $ai;
}